#Grid{
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
   /* ejemplo de gridtemplate pero en porcentaje */
    grid-template-columns: 20% 20% 1fr 15% 15%;
    grid-template-rows: 1fr;
     grid-gap: 2vw;
     background-color: brown;
}

.dis-grid{
    font-size: 5vw ;
    background-color: blue;
    color: white;
    border: 1px solid black;
    padding: .5em ;
    text-align: center;
    margin: 20px;
}