html{
    margin:0,auto;
    text-align: center;
}
.contenedortran{
display: flex;
background-color: beige;
padding: 5px;
gap: 5px;
flex-direction: column;
border: 1px solid black;
align-items: center;
justify-content: center;
min-width: 100%;
}



.animacion{
    margin:0% auto;
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: aqua;
    border: 1px solid black;
    padding: 10px;
}

/*como creamos una animacion? para crear un efecto usamos @keyframes
para ello debemos llamar a la funcion @keyframes, determinales un nombre y luego el efecto
*/

@keyframes desvanecer {
    /* el efecto puede ir desde un punto a otro*/
          from{opacity: 1;} /* como comienza el efecto*/
          to{opacity: 0;} /* como finalizara el efecto*/
}

#animacion-desvanecer:hover{
    cursor: pointer;
    /*nombramos el efecto a usar*/
    animation-name: desvanecer;
    /*nombramos la duracion del efecto*/
    animation-duration: 2s;
}

/* traslaciom: vamos a mnover los elementos del eje x o y */

@keyframes trasladar{
    from{transform: translatex(0px);}
    to{transform: translatex(50px);}
    /*los elementos se pueden mover en el eje x, como tambien en el eje y, indicandolo en la funcion*/
}

#animacion-trasladar:hover{
    cursor: crosshair;
    animation-name: trasladar;
    animation-duration: 2s;
}

/*cambiar entre varios colorees: para esto, usaremos 4 colores distintos y trabajeremos con
porcentajes. esos porcentajes seran una distribucion del tiempo*/

@keyframes rotar-color{
    0%{ background-color:black};
    25%{ background-color:yellow};
    50%{ background-color: red};
    75%{ background-color: green};
    100%{ background-color:blue};
}

#rotar-color:hover{
    cursor: pointer;
    animation-name: rotar-color;
    animation-duration: 10s;
    animation-iteration-count: infinite; /*¿que tanto se va a repetir esta interaccion?*/
}

/*girar elementos*/

@keyframes girar-elementos{
    to{transform: rotate(0px);}
    from{transform: rotate(150deg);}
}

#girar-elementos:hover{
    cursor: pointer;
    animation-name: girar-elementos;
    animation-duration: 3s;
    
}

/*escalar elementos: crecen en yamaño visual, pero no mueven los elementos los
elemntos que tienen alrededor*/

@keyframes escalar{
    from{transform: scale(1)}
    to{transform:scale(1.5) ;}
}

#escalar:hover{
    cursor: pointer;
    animation-name: escalar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes perspectiva{
    from{transform: perspective(150px) rotatex(0);}
    to{transform: perspective(150px)rotatex(360deg);}
}

#perspectiva:hover{
          cursor: pointer;
        animation-name: perspectiva;
       animation-duration: 2s;
      animation-iteration-count: infinite;
}