/*oparametros y variables globales*/
/* una variables us una "caja" donde guardas  datos*/

 :root{
    --parrafodetexto:'Times New Roman', Times, serif;
    --fuenteheader:Verdana, Geneva, Tahoma, sans-serif;
    --negro:black;
    --colorheader:orange;
    --borde: 10px solid red;
    --rojo:rgba(255, 0, 0, 0.582);
}
/*paramaetro global: son parametros que afectaran a nuestro html y nuestro documento*/
html{
    box-sizing: border-box; /*propíedad caja con bordes*/
    font-size: 62.5%;
}
/*parametro global de elementos*/
*,*::before::after{
    margin: 0 auto;
    box-sizing: inherit;
}
/*UTILIDAD DE CLASES: son clases que nos permite dar una propiedad y que usaremos con frecuencia*/
.no-margin{
    margin: 0;
    color: blue;
}
.no-padding{
    padding: 0;
    color: blueviolet;
}






/* para seleccionar una clase utilizamos el . */
.contenedor3 {
    background-color: green;
/*para utilizar una variables, simplemente llamamos a la funcion var ()*/
    font-family: var(--parrafodetexto);
}
  .contenedor{

    background-color: var(--colorheader);
    /*agregar bordes*/
    border: var(--borde);
    /* centrar text*/
    text-align: center;
    /*estilo de texto*/
    font-family: var(--fuenteheader);
    /*tamaño de text*/
    font-size: 5rem;
    /*colores de texto*/
    color: white
    /*bordes al texto*/
    -webkit-text-stroke 0,5 var(var(--negro));
    text-shadow: -2px 1px 0 var(--negro);

    /*separacioes: 
    podemos separar el contenido del borde y los elementos entre si*/

   /* separ el contenido de sus bordes*/
   /*padding: 5px 3px 10px 10px;*/

   /*para separar el contenido con respecto a otros elementos*/
  /* margin: 55px 10px 10px; /*arriba, derecha, abajo, izuierda*/
}
/*hover es un indicador que nos dira que va a ocurrir con un elemento cuando le pasemos el mouse por encima*/

/*cuando nos posiciones sobre el div3 cambiara el fondo y la letra*/
#contenedor3:hover{
    background-color: aqua;
    color: var(--rojo);
    font-size: 7rem;
}