.gridtemple{
    background-color: rgb(255, 0, 0);
    display: grid;
    /*cada linea de template representa una fila*/
    grid-template-areas: 
    "header header header header"
    "nav sectionA sectionB aside"
    "footer footer footer footer"
    ;
    /*creamos las filas y las columnas*/
    grid-template-columns: 20% 1fr 30%;
    grid-template-rows: 20% 1fr 10% 15% ;
    grid-gap: 10px;
    height: 100vh;
    margin: 0px;
    
}

/*cadenas de elementos*/
header,nav,section,aside,footer {
background-color: yellow;
border: 1px black;
}
/* vamos a decirle a cada eleemnto que area debe ocupar*/
#pageheader{
    grid-area:header;
}
#pagenav{
    grid-area: nav;
}
#pagesection{
    grid-area: sectionA;
}
#pagesection2{
    grid-area: sectionB;
}
#pageaside{
    grid-area: aside;
}
#pagefooter{
    grid-area: footer;
}